

<div class="container">
    <div class="display-4" style="font-family: 'Righteous'">Hardstuck.gg - Because you suck.</div>
    <br>
    <br>
    <br>
    <br>


</div>
    
    


<div class="container">

        <form action="/search" class="col-12" method="POST">
            <div class="form-group row">
                <label class="summonerName display-1">Input your
                    <br>
                    summoner name.
                </label>
                <input type="text" placeholder="hide on bush" name="summonerName" class="form-control col-9"><!--name attr info is sent in request, like body req in Postman-->
                <input type="submit" class="btn btn-primary btn-block col-2" style="margin-left: 10px;">
            </div>
        </form>

</div>
<div class="jumbotron" style="margin-top: 5%;">
  <h1 class="display-4">Hardstuck? GG.</h1>
  <p class="lead"><span class="font-weight-bold">Coinflipping</span> enough games? Had enough of blaming your teammates? Realizing that you're the <span class="font-weight-bold">main constant</span> in all of them?</p>
  <hr class="my-4">
  <p>Hardstuck.gg evaluates North American Ranked Solo Duo players for their "hardstuck-ness", as well as provides detailed in game information for specific games. Results may be shockingly realistic.</p>
  <br>
  <p>From game tempo evaluations to objective control, find out where you suck and improve.</p>
</div>

<div class="container-fluid padding">
	<div  class="row">
		<div class="col-12">
			<h4 class="display-64 text-center">Notes:</h4>
		</div>
		<hr>
		<div class="col-12 text-center">
			<p>Custom made JSON files were built for this application. I plan to implement a way for users to interact with what Hardstuck.gg is, an API.</p>
            <br>
            <p>Clash functionality would be added later. The parameters are easy to set, it just depends on my schedule.</p>
            <br>
            <p>This is effectively open source. Want to play around with it? <a href="https://github.com/t-chris"><i class="fab fa-github"></i></a></p>
            
		</div>
	</div>
</div>

